.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
}

.item{
    &__name{
       font-weight: 500; 
       margin: 0;
       font-size: 13px;
    }
    &__amount{
        font-size: 14px;
        color: rgba($color: black, $alpha: 0.6);
    }
}